<!DOCTYPE html>
<html lang="en">

<head>
    <title>L U T N I Ț A | 404</title>
    <meta name="description" content="LUTNIȚA Gallery | Not found">
    {{>head}}
</head>

<body>
    {{>header}}
    <main class="main">
        <section id="text_section" class="text_section">
            <h2 class="title">{{title}}</h2>
        </section>
        <section class="right_space"></section>
    </main>
    {{>footer}}
</body>

</html>