<!DOCTYPE html>
<html lang="en" class="full_height">

<head>
    <title>L U T N I Ț A | Artists | {{title}}</title>
    <meta name="description" content="LUTNIȚA Gallery | Artists | {{title}}">
    {{>head}}
</head>

<body class="full_body">
    {{>header}}
    <main class="main full_main">
        <section id="text_section" class="text_section">
            <h2 id="title" class="title title_menu">&#9776;</h2>
        </section>
        <section class="image_container one_exhib">
            <div class="img_wrapper">
            </div>
        </section>
        <section class="right_space gallery"></section>
    </main>
    <script src="js/oneArtist.js"></script>
    {{>footer}}
</body>

</html>