<!DOCTYPE html>
<html lang="en" class="full_height">

<head>
    <title>L U T N I Ț A | Info</title>
    <meta name="description" content="LUTNIȚA Gallery | Info">
    {{>head}}
</head>

<body class="full_body">
    {{>header}}
    <main class="main">
        <section id="text_section" class="text_section">
            <h2 class="title">{{title}}</h2>
            <div id="text_container" class="text_container_nohover text_container_info">
                <div class="info_wrapper">
                    <div>
                        <div class="team">
                            <p class="team_name">Andrei Sclifos</p>
                            <p class="team_role">director</p>
                            <p class="team_email"><a href="mailto:andrei@lutnita.md">andrei@lutnita.md</a></p>
                        </div>
                        <br>
                        <div class="team">
                            <p class="team_name">Alisa Bakalova</p>
                            <p class="team_role">gallery assistance &amp; archive</p>
                            <p class="team_email"><a href="mailto:alisa@lutnita.md">alisa@lutnita.md</a></p>
                        </div>
                        <br>
                        <div class="team">
                            <p class="team_name">Olivia Furtună</p>
                            <p class="team_role">gallery assistance &amp; communication</p>
                            <p class="team_email"><a href="mailto:olivia@lutnita.md">olivia@lutnita.md</a></p>
                        </div>
                        <br>
                        <div class="team">
                            <p class="team_name">Nichita Prepeliță</p>
                            <p class="team_role">gallery assistance</p>
                        </div>
                        <br>
                        <div class="team">
                            <p class="team_name">Constantin Coada</p>
                            <p class="team_role">media technology assistance</p>
                        </div>
                        <br>
                        <div class="team">
                            <p class="team_name">Lucian Spătaru</p>
                            <p class="team_role">photo/video assistance</p>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </section>
        </section>
        <section class="image_container">
            <img class="center_image_exhib" src="https://d23fd8t3cgh0wq.cloudfront.net/img/blank.svg"
                alt="center_image">
        </section>
        <section class="right_space"></section>
    </main>
    <script src="js/info.js"></script>
    {{>footer}}
</body>

</html>