<!DOCTYPE html>
<html lang="en">

<head>
    <title>L U T N I Ț A | Artists</title>
    <meta name="description" content="LUTNIȚA Gallery | Artists">
    {{>head}}
</head>

<body class="artists_body">
    {{>header}}
    <main id="main_artists" class="main">
        <section id="text_section_artists" class="text_section text_section_artists">
            <h2 id="title" class="title">{{title}}</h2>
            <div id="list_wrapper">
                <div id="artist_list"></div>
            </div>
        </section>
        <section class="image_container">
            <img class="center_image_exhib" src="https://d23fd8t3cgh0wq.cloudfront.net/img/blank.svg"
                alt="center_image">
        </section>
        <section class="right_space"></section>
    </main>
    <script src="js/artists.js"></script>
    {{>footer}}
</body>

</html>