<!DOCTYPE html>
<html lang="en">

<head>
    <title>L U T N I Ț A | Exhibitions</title>
    <meta name="description" content="LUTNIȚA Gallery | Exhibitions">
    {{>head}}
</head>

<body>
    {{>header}}
    <main class="main">
        <section id="text_section" class="text_section">
            <h2 id="title" class="title">{{title}}</h2>
        </section>
        <section class="image_container"><img class="center_image_exhib"
                src="https://d23fd8t3cgh0wq.cloudfront.net/img/blank.svg" alt="center_image">
        </section>
        <section class="right_space"></section>
    </main>
    <script src="js/exhib-250601.js"></script>
    <script src="js/year_filter.js"></script>
    {{>footer}}
</body>

</html>