<!DOCTYPE html>
<html lang="en" class="full_height">

<head>
    <title>L U T N I Ț A | Info</title>
    <meta name="description" content="LUTNIȚA Gallery | Info">
    {{>head}}
</head>

<body class="full_body">
    {{>header}}
    <main class="main">
        <section id="text_section" class="text_section">
            <h2 class="title">{{title}}</h2>
            <div id="text_container" class="text_container_nohover text_container_info">
                <div class="info_wrapper">
                    <div id="removemeafterrelocation">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                    <p><a href="mailto:galeria@lutnita.md">galeria@lutnita.md</a></p>
                    <p><a href="https://www.instagram.com/galerialutnita/" target="_blank">@galerialutnita</a></p>
                    <br class="team_wrapper">
                    <br>
                    <p id="team_button"><a href="/team">Team</a></p>
                    <br>
                </div>
            </div>
        </section>
        <section class="image_container one_exhib icinfo_text_center">
            <div id="info" class="info">
                <p class="info_text">Galeria LUTNIȚA, based in Chișinău is a project initiated by the Moldovan
                    artist Andrei Sclifos with the support of the Plan B Foundation in Cluj - coordinated by Mihai
                    Pop.</p>
                <p class="info_text">Inaugurated in the autumn of 2022, the gallery is dedicated to curating and
                    showcasing a diverse range of contemporary, emerging and established figures, from both local
                    and international art community.</p>
                <p class="info_text">Therefore, LUTNIȚA is committed to furthering relevant contemporary practices,
                    thus to build future meaningful and valuable connections across different art scenes, while also
                    providing care for the vast, multifaceted artistic heritage and cultural background of the local
                    artistic community.</p>
            </div>
            <div id="info_mob" class="info_mob">
                <p class="info_text">Galeria LUTNIȚA, based in Chișinău is a project initiated by the Moldovan
                    artist Andrei Sclifos with the support of the Plan B Foundation in Cluj - coordinated by Mihai
                    Pop.</p>
                <p class="info_text">Inaugurated in the autumn of 2022, the gallery is dedicated to curating and
                    showcasing a diverse range of contemporary, emerging and established figures, from both local
                    and international art community.</p>
                <p class="info_text">Therefore, LUTNIȚA is committed to furthering relevant contemporary practices,
                    thus to build future meaningful and valuable connections across different art scenes, while also
                    providing care for the vast, multifaceted artistic heritage and cultural background of the local
                    artistic community.</p>
            </div>
        </section>
        <section class="right_space"></section>
    </main>
    <script src="js/info.js"></script>
    {{>footer}}
</body>

</html>