<!DOCTYPE html>
<html lang="en" class="full_height">

<head>
    <title>L U T N I Ț A | Home</title>
    <meta name="description" content="LUTNIȚA Gallery | Home">
    {{>head}}
</head>

<body class="full_body">
    {{>header}}
    <main class="main full_main">
        <section id="text_section" class="text_section">
            <h2 class="title">{{title}}</h2>
            <div class="text_container" onclick=location.assign('/exhibitions')>
                <div class="names_wrapper">
                    <div class="names_container">
                        <img class="artist_name"
                            src="https://d23fd8t3cgh0wq.cloudfront.net/img/exhibitions/namepaths/relocating_it.svg">
                    </div>
                </div>
                <h4 id="relocating_date" class="exhibition_date">1 May 2025 — 1 Sep 2025</h4>
            </div>
        </section>
        <section class="image_container"><img class="center_image_index"
                src="https://d23fd8t3cgh0wq.cloudfront.net/img/relocating.jpg" alt="RELOCATING"
                onclick=location.assign('/exhibitions')>
        </section>
        <section class="right_space"></section>
    </main>
    {{>footer}}
    <script src="js/menu_index.js"></script>
</body>

</html>